<div class="container">
  <h1>Hello World!</h1>
</div>

<hr>
<app-first-component></app-first-component>
<hr>
<app-parent-data [name]="userName" [userData]="userData" ></app-parent-data>
<hr>
<app-directives></app-directives>
<hr>
<app-if-render></app-if-render>
<hr>
<app-list-render></app-list-render>
<hr>
<app-eventos></app-eventos>
<hr>
<app-emitter></app-emitter>
<hr>
<app-pipes></app-pipes>
<hr>
<app-two-way-binding></app-two-way-binding>
<hr>
<app-list-db></app-list-db>
<hr>

<div class="container">
  <h2>Testando router</h2>
  <nav class="nav">
    <a routerLink="/" >Home</a>
    <a routerLink="/list">Lista</a>
  </nav>
</div>
<router-outlet></router-outlet>




<hr>
